# t2q_datasets/
ewok-core-1.0/
/pythia-14m/
/pythia-31m/
/pythia-70m/
/pythia-160m/
/pythia-410m/
/pythia-1b/
llmdata_dataset/
blimpynq-scripts-data/
hf_cache/
old_outputs/
old_outputs_vol2/
old_outputs_vol3/
outputtextfiles/
old-runner-scripts/
t2q_balanced_problematic/
logprobs-boolq.py
logprobs-2080corrected.py
boolq-validation.csv
boolq-result-checker.py
outputs/Mar-18-2025/fewshot/
outputs/Mar-18-2025/zeroshot/
outputs/Mar-18-2025/instronly/
outputs/Jan-21-2025/